.popup {
  display: none;
  width: 880px;
  height: 100%;
  top: 50%;
  left: 50%;
  position: fixed;
  align-content: center;
  z-index: 1;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

.popup_opened {
  display: block;
}

.popup__button {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.popup__button_close {
  position: absolute;
  font-size: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  right: 200px;
  top: 150px;
}

.popup__button_close:hover {
  opacity: 0.5;
}

.popup__container {
  margin: auto;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__subtitle {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  width: 330px;
  margin: 0 36px;
  padding: 34px 0 54px;
}

.popup__content {
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input {
  width: 360px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__button_save {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
}

.popup__button_save:hover {
  opacity: 0.5;
}

@media screen and (min-widht: 320px) and (max-widht: 585px) {
  .popup__button_close {
    right: 300px;
    top: 100px;
  }

  .popup__container {
    max-width: 280px;
  }

  .popup__subtitle {
    width: 240px;
    margin: 0 22px;
  }

  .popup__content {
    width: 240px;
  }

  .popup__input {
    width: 240px;
  }
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .popup__button_close {
    right: 300px;
    top: 100px;
  }

  .popup__container {
    max-width: 280px;
  }

  .popup__subtitle {
    width: 240px;
    margin: 0 22px;
  }
  .popup__content {
    width: 240px;
  }
  .popup__input {
    width: 240px;
  }

  .popup__button_save {
    width: 100%;
    background-color: #000;
    padding: 10px;
    margin-bottom: 40px;
  }
}
